body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  /* background-color: #a0e7; */
  background: linear-gradient(135deg, #00feba, #5b548a);
}
.try {
  text-align: center;

  /* background-color: #e7549b; */
}
.btn {
  border-radius: 19px;

  padding: 20px;
  margin: 1vh;
  font-size: 1.5rem;
  border: none;
  background-color: #b4f8c8;
}
.mainbtn {
  width: 20rem;
  border-radius: 8px;
  padding: 30px;
  margin: 8vh;
  font-size: 1.5rem;
  border: none;
  background-color: #fbe7c6;
}
.maindiv {
  background: transparent;
  /* background-color: red; */
  padding-top: 20vh;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  backdrop-filter: blur(1000px);
}
button:hover {
  background-color: #ffaebc;
}
